html, body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include lato();
  @include clearAfter();
  padding-bottom: 200px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

// .sidebar {
//   padding-top: 40px;

//   @include mq($from: tablet) {
//     width: 30%;
//     float: left;
//     padding-top: 88px;
//   }
// }

// .content {
//   padding-top: 40px;

//   @include mq($from: tablet) {
//     width: 70%;
//     float: right;
//     padding-top: 80px;
//   }
// }

// .container {
//   width: 100%;
//   max-width: 937px;
//   margin-left: auto;
//   margin-right: auto;
//   padding: 0 10px;

//   @include mq($from: mobile, $until: tablet) {
//     padding: 0 40px;
//   }
// }

// footer.footer {
//   @include clearHard();
//   margin-top: 150px;
// }
