html, body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include lato();
  @include clearAfter();
  padding-bottom: 200px;
}

*, *::before, *::after {
  box-sizing: border-box;
}
