/**
 * OS X window mockup. Fits well with the split-pane for the landing page - as
 * shown in this example (we are using the @{include} substitution command here).
 * In fact, you may put whatever content you like into the window.
 *
 * @atom Window
 * @markup
 *  <div class="window">
 *    @{include:.split-pane}
 *  </div>
 */
.window {
  background-color: $color--whitesmoke;
  padding-top: 25px;
  border-radius: 5px;
  position: relative;
  max-width: 620px;
  margin: auto;
  box-shadow: 0 8px 11px 5px rgba(black, 0.1);
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -11px;
    top: 7px;
    border-radius: 100%;
    box-shadow:
      20px 0 0 0 #FF6058, 20px 0 0 1px #E1453E,
      35px 0px 0 0 #FFBE2E, 35px 0px 0 1px #E4A413,
      50px 0 0 0 #28C940, 50px 0 0 1px #19B12C;
  }

}

/**
 * Dragabble split-canvas for the rendered Nucleus preview in the landing-page
 * hero. Right now, we're not including the necessary JavaScript for this
 * dynamic functionality, that's why it is just a static rendering.
 *
 * @molecule Split-Pane
 * @section Landing-Page
 * @markup
 *  <div class="split-pane">
 *    <div class="split-pane__preview">
 *      <div class="split-pane__handle"></div>
 *    </div>
 *    <div class="split-pane__code SG-code code">
 *      CODE GOES HERE
 *    </div>
 *  </div>
 */
.split-pane {
  position: relative;
  overflow: hidden;
  height: 400px;

  .split-pane__handle {
    @extend .ico;
    @extend .ico--glide;
    width: 30px;
    height: 30px;
    background-color: $color--accent;
    border-radius: 100%;
    position: absolute;
    right: -15px;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    line-height: 33px;
    color: white;
    font-size: 7px;
  }

  .split-pane__code.code {
    height: 100%;
    padding: 20px 20px 20px 40%;
  }

  .split-pane__preview {
    position: absolute;
    width: 50%;
    min-width: 10%;
    max-width: 90%;
    height: 100%;
    background-image: url('../images/split-preview.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 30px 0 30px 0 rgba(45, 45, 45, 0.6);
  }

  @include mq($until: tabletPortrait) {
    height: 350px;
  }

  @include mq($until: mobile) {
    height: 250px;
    .split-pane__code {
      font-size: 12px;
    }
  }

  @include mq($until: tiny) {
    .split-pane__code {
      font-size: 12px;
      padding-left: 20%;
    }
  }
}

