doctype html
html(lang="en")
  head
    title
      block title
      | - Nucleus - Living style guide generator
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0,user-scalable=no")
    link(href="styles/app.css",  rel="stylesheet")
    link(rel="icon", href="favicon.ico", type="image/x-icon")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")

  body

    block body

    script(src="scripts/app.js")
