doctype html
html(lang="en")
  head
    title
      block title
      | - Nucleus - Living style guide generator
    meta(charset="UTF-8")
    link(href="styles/app.css",  rel="stylesheet")
    link(rel="icon", href="favicon.ico", type="image/x-icon")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    meta(property='og:title', content='Powerful management for crafted styles')
    meta(property='og:site_name', content='Nucleus')
    meta(property='og:url', content='https://holidaypirates.github.io/nucleus/')
    meta(property='og:description', content='A developer orientated living style guide generator for SCSS')
    meta(property='og:type', content='website')
    meta(property='og:image', content='https://holidaypirates.github.io/nucleus/images/split-preview.png')


  body

    block body

    script(src="scripts/app.js")
