nav.menu.SG-toc
    ul(role="menu")
        li.SG-toc__category Setup
        li: a.SG-a(href="installation.html") Installation
        li: a.SG-a(href="configuration.html") Configuration

        li.SG-toc__category How to use
        li: a.SG-a(href="getting-started.html") Getting Started
        li: a.SG-a(href="annotation-reference.html") Annotation reference
        li: a.SG-a(href="substitutions-flags.html") Substitutions &amp; Flags
        li: a.SG-a(href="modifiers.html") Modifiers
        li: a.SG-a(href="script.html") Script
        li: a.SG-a(href="vendored-elements.html") Vendored elements

        li.SG-toc__category Meta
        li: a.SG-a(href="https://github.com/holidaypirates/nucleus", target="_blank") View on GitHub
        li: a.SG-a(href="https://github.com/holidaypirates/nucleus/blob/master/CONTRIBUTORS.md", target="_blank") Contributing
