<div>
  <div class="SG-search-item__summary">
    <span class="SG-search-item__summary-label"><%= name %></span>
    <span class="SG-search-item__summary-caption"><%= section %></span>
  </div>
  <div class="SG-search-item__details">
    <span class="SG-search-item__details-name"><%= name %></span>
    <div class="SG-search-item__details-preview">
      <%= preview %>
    </div>
    <div class="SG-search-item__details-meta">
      Type: <%= type %><br>
      Section: <%= section %><br>
      Element: <%= descriptor %>
    </div>
  </div>
</div>
