//-
 * demo.pug -- Hint for the Nucleus demo page
 *
 * Copyright (C) 2016 Michael Seibt
 *
 * With contributions from: -
 *
 * This software may be modified and distributed under the terms
 * of the MIT license. See the LICENSE file for details.

.SG-row: .SG-gr-12: .SG-hint.SG-p.
      <span class="SG-strong">Hint:</span><br>This is the generated style guide for Nucleus and it's documentation
      pages. These are the actual components used, and the pages are generated with Nucleus itself. Feel free to browse a bit and try things out.
