//-
 * header.pug -- Render the style guide header
 *
 * Copyright (C) 2016 Michael Seibt
 *
 * With contributions from: -
 *
 * This software may be modified and distributed under the terms
 * of the MIT license. See the LICENSE file for details.

block nav
  -var selected = 'nuclides'; //default

-var menu = {'Nuclides': 'nuclides.html', 'Atoms': 'atoms.html', 'Molecules': 'molecules.html', 'Structures' : 'structures.html' };

.SG-header
  a(href="index.html").SG-logo
    span.SG-logo__icon.SG-ico.SG-ico--logo
    span.SG-logo__name #{meta.title}
  ul.SG-nav
    each link, title in menu
      li
        if selected === title
          a.SG-nav__item.SG-nav__item--active(href=link)= title
        else
          a.SG-nav__item(href=link)= title
  ul.SG-nav-icons
    li
      a.SG-nav-icons__item(title="Search for components",href='javascript:void(0)',data-d-search-box-trigger)
        i.SG-ico.SG-ico--seach
    li
      a.SG-nav-icons__item(href="https://holidaypirates.github.com/nucleus", title="Help and Documentation", target="_blank")
        i.SG-ico.SG-ico--question
