//-
 * toc.pug -- Render the table of content for a page
 *
 * Copyright (C) 2016 Michael Seibt
 *
 * With contributions from: -
 *
 * This software may be modified and distributed under the terms
 * of the MIT license. See the LICENSE file for details.

mixin toc(structure, depth, crumbs)

  -depth = depth || 0
  -crumbs = crumbs || ''

  //- Break if we're too deep
  if structure && (depth <= 1)

    //- Skip the structure if there're no sub-elements besides '_e'
    if !((Object.keys(structure).length === 1) && (structure._e))
      ul
        each subelements, title in structure
          if (title !== '_e') && (title !== 'Other')
            li
              a.SG-a(href='#' + crumbs + '_' + title) #{title}
              +toc(subelements, depth+1, crumbs + '_' + title)
