.menu {

  font-size: 16px;

  @include mq($from: tablet) {
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    margin-bottom: 0.5em;
    a {
      @include lato(400);
      color: $color--gray;
      border-bottom-color: transparent;
    }
    a:hover { border-bottom-color: $color--accent; }
  }
}
