extends layouts/doc-page

block title
  | Getting Started

block content
  h1.SG-h1 Getting started

  h2.SG-h2 Atomic CSS - The entities for Nucleus
  p.SG-p.
    Atomic CSS is a guideline to write modular styles, projecting different
    levels of complexity on a (bio-) chemical scale. This results in low
    selector specifity and allows you to compose complex
    entities out of simple elements.
  img(src="images/entities.png", style="width: 100%")
  p.SG-p.
    Head over to the <a class="SG-a SG-a--pink" href="annotation-reference.html">annotation reference</a> section to get detailed information about the available entity types.
  p.SG-p.
    Nucleus extracts it's needed information not only from the source code
    itself, but also from the DocBlock-annotations preceding the style elements.
    Usually, at least a type needs to be specified for an element that should
    appear in the style guide.

  h2.SG-h2 General rules for annotations
  p.SG-p.
    The value of the annotation may be a single line, or multiple lines indented by at least one space (starting on a new line).

  code.language-nucleus(data-d-code-preview).
    /**
     * @atom Button
     * @section Navigation &gt; Buttons
     * @description
     *  Buttons for various purposes.
     * @modifiers
     *  .button--alert an alert button
     * @markup
     *   &lt;button class="button"&gt;A button&lt;/button&gt;
     *   &lt;button class="button button--alert"&gt;
     *     An alert button
     *   &lt;/button&gt;
     */
    .button {
     /* ... */
     &amp;.button--alert { /* ... */ }
    }

    /**
     * This is the prefered way to set the description.
     * Since this DocBlock is missing the @section
     * annotation, it would be shown in the generic
     * section "Other". Please note the empty line
     * after this block of text.
     *
     * @nuclide Language
     */
    $config--lang: "en"

  p.SG-p.
    If no @section is set, it will be set to "Other".
    To nest sections, separate the levels by "&gt;" like shown above.
    In addition to @section and @description, some element types have
    more annotations available or even a short version to define then.

  p.SG-p.
    For every entity type besides @nuclide, @mixin and @color, the @markup
    annotation is available. This is where you should provide the minimal
    HTML to use that element, which is also used to generate the preview of
    the element.
