/**
 * Composition of various landing page components with a colorful background and the preview
 * window in the center to give the first glimpse of what nuclues is doing.
 *
 * @flag full-width
 * @structure Landing-Page Hero
 * @section Landing-Page
 * @markup
 *  <div class="hero">
 *    @{include:.SG-header}
 *    <h1>
 *      Powerfull management for crafted styles
 *      <small>A living style guide generator that will boost your efficiency</small>
 *    </h1>
 *    @{include:.window}
 *    <nav>
 *      <a class="SG-button SG-button--white SG-button--large">CTA Button</a>
 *    </nav>
 *  </div>
 */
.hero {
  @include clearHard();
  width: 100%;
  position: relative;
  background: #B24592;
  background: linear-gradient(-45deg, #F15F79 20%, #B24592 80%);

  &::after {
    content: '';
    background: linear-gradient(to bottom, rgb(255, 204, 213), white 50%);
    height: 39px;
    border-top: 1px solid #ffffff;
    display: block;
    background-size: 131%;
    border-radius: 0 0 100% 100%;
    position: absolute;
    bottom: -39px;
    width: 100%;
    box-shadow: 0 -23px 14px white inset;
  }

  h1 {
    @include lato(300);
    font-size: 46px;
    color: white;
    text-align: center;
    text-shadow: 0px 1px #a0518e;
    margin-top: 1.5em;
    small {
      font-size: 0.5em;
      display: block;
      margin: 1em 0;
    }
  }

  nav {
    text-align: center;
    padding: 40px 0;
    text-transform: uppercase;
    .SG-button:not(:last-child) {
      margin-right: 10px;
    }
  }

  .SG-nav { display: none; }

  .SG-logo, .SG-nav-icons__item {
    color: white;
    &:hover { color: white !important; }
  }

  .SG-header {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(white, 0.3);
    &::before { display: none; }
  }

}
