/**
 * Include a media query that applies properties to the selector only on certain
 * screen widths. Breakpoints and Tweakpoints are defined in a central
 * configuration. Available breakpoints are:
 *  mobile,
 *  tabletPortrait,
 *  tablet,
 *  desktop and
 *  wide
 *
 * @section Tools
 * @mixin Breakpoint Media-Query
 * @param $from Inclusive starting breakpoint
 * @param $until Inclusive ending breakpoint
 * @param $and Optional custom media query
 * @example
 *  @include mq($from: tablet);
 *  @include mq($until: desktop);
 *  @include mq($from: mobile, $until: desktop);
 */
@mixin mq($from: '{Breakpoint}', $until: '{Breakpoint}', $and: '{Custom}') {
  /* placeholder */
}

/**
 * List of available breakpoints for the use with the mq-mixin.
 *
 * @nuclide
 * @section Config
 */
$mq-breakpoints: (
    tiny: 350px,
    mobile:  425px,
    tabletPortrait:  597px,
    tablet: 768px,
    desktop: 980px,
    wide:    1300px,

    // Tweekpoints below this point
);

// $mq-show-breakpoints: (tiny, mobile, tabletPortrait, tablet, desktop, wide);

body::before {
  opacity: 0.3;
}

@import 'sass-mq/mq';
